<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160490654765-sf0qmk3fh2ut7m97502ji9tonktbh8eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160490654765-sf0qmk3fh2ut7m97502ji9tonktbh8eu</string>
	<key>API_KEY</key>
	<string>AIzaSyClEcLyDim0miEjWljq9HWyDsWn4M3VMzs</string>
	<key>GCM_SENDER_ID</key>
	<string>160490654765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>guiddel-1f815</string>
	<key>STORAGE_BUCKET</key>
	<string>guiddel-1f815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160490654765:ios:5dd4e787e31079c4f0fca4</string>
	<key>DATABASE_URL</key>
	<string>https://guiddel-1f815.firebaseio.com</string>
</dict>
</plist>